@import 'https://fonts.googleapis.com/css?family=Cabin';

body {
  font-family: 'Cabin', sans-serif;
}

.item img {
  float: left;
}

.search {
  margin-top: 30vh;
}

#search-btn {
  color: black;
  background-color: transparent;
  border-color: black;
}

#search-btn:hover {
  color: #fff;
  background-color: black;
  border-color: black;
}

.row {
  padding: 5px;
}

.item-title {
  background-color: black;
  color: white;
  padding: 0 5px;
  font-size: 16px;
}

.item-description {
  padding: 0 20px;
}

.item:hover {
  background-color: #e6e6e6;
  text-decoration: none;
}

a {
  color: black;
}

li a:hover {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

#wiki img {
  width: 150px;
  padding-right: 10px;
}
